[defaults]
inventory = private/inventory

roles_path = roles
collections_path = collections

vault_password_file = ~/.vault_pass_homelab

host_key_checking = False

stdout_callback = default
result_format = yaml
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
